body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerVariation {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.timer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.timerProgress {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addTime {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.btns {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

progress {
  width: 100%;
}
